@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    height: 100vh;
    margin: 0;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

a {
    color: white;
    text-decoration: none;
  }

button {
    border-radius: 8px;
    padding: 7px 18px;
    background-color: #3882f6;
    color: white;
    border: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;
    color: white;
    margin: 0 0;
    padding: 0 0;
}

.hero > * {
    margin: 0px 0px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    width: 100%
    
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.right-links {
    display: flex;
    flex-direction: row;
}

.right-links li {
    margin: 10px 10px 10px 10px;
}

.welcome-section {
    display: flex;
    flex-direction: row;
    margin: 60px auto;
    justify-content: center;
}

.signup {
    text-align: left;
    width: 30%;
}

.signup li {
    margin: 10px 10px 5px 10px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.placeholder {
    background-color: grey;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 75px 80px;
    margin-top: 20px;
    padding: 75px 100px;
}

/* content css */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content > * {
    padding: 35px;
}

.info {
    flex: 1;
}

.info-text {
    margin: 45px 0;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.info-cards {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;;
}

.info-cards li {
    width: 100px;
    margin: 0 50px;
}

.card {
    border: 3px solid #3882f6;
    border-radius: 8px;
    height: 100px;
    width: 100px;
}

.card-text {
    margin-top: 10px;
    width: 100px;
    text-align: center;
}

/* quote */
.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1F2937;
    padding: 100px 29%;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
}

.quote-author {
    font-weight: bold;
    text-align: right;
    font-size: 18px;
}

/* action */

.action {
    display: flex;
    justify-content: center;
}

.action-box {
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    margin: 45px 20%;
    padding: 50px 5%;
    justify-content: space-around;
    flex: 1;
}

.action-title {
    font-size: 24px;
    font-weight: bold;
}

.action-button {
    border: 2px solid white;
}



/* footer css */

.footer {
    /* position: fixed;
    bottom: 0;
    left: 0;
    right: 0; */
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
  }
