@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.right-links {
    display: flex;
    flex-direction: row;
}

li {
    margin: 10px;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
  }